.we-become-what-we-behold-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #49aaff;
}
.we-become-what-we-behold-navbar-interactive {
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.we-become-what-we-behold-navlink {
  display: contents;
}
.we-become-what-we-behold-image {
  width: 203px;
  height: 164px;
  text-decoration: none;
}
.we-become-what-we-behold-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.we-become-what-we-behold-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.we-become-what-we-behold-navlink2 {
  text-decoration: none;
}
.we-become-what-we-behold-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.we-become-what-we-behold-burger-menu {
  display: none;
}
.we-become-what-we-behold-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.we-become-what-we-behold-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.we-become-what-we-behold-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.we-become-what-we-behold-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.we-become-what-we-behold-logo {
  height: 2rem;
}
.we-become-what-we-behold-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.we-become-what-we-behold-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.we-become-what-we-behold-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.we-become-what-we-behold-text {
  margin-bottom: var(--dl-space-space-unit);
}
.we-become-what-we-behold-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.we-become-what-we-behold-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.we-become-what-we-behold-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.we-become-what-we-behold-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.we-become-what-we-behold-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.we-become-what-we-behold-login {
  margin-right: var(--dl-space-space-twounits);
}
.we-become-what-we-behold-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.we-become-what-we-behold-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.we-become-what-we-behold-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.we-become-what-we-behold-container1 {
  width: 856px;
  height: 484px;
}
.we-become-what-we-behold-container2 {
  display: contents;
}
@media(max-width: 767px) {
  .we-become-what-we-behold-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .we-become-what-we-behold-desktop-menu {
    display: none;
  }
  .we-become-what-we-behold-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .we-become-what-we-behold-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .we-become-what-we-behold-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .we-become-what-we-behold-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .we-become-what-we-behold-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .we-become-what-we-behold-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .we-become-what-we-behold-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .we-become-what-we-behold-mobile-menu {
    padding: 16px;
  }
}
